name: td_id
#####################################################
##
##Declare Validation logic for unification keys
##
#####################################################
keys:
  - name: email
    valid_regexp: ".*@.*"
    invalid_texts: ['', 'N/A', 'null']
  - name: customer_id
    invalid_texts: ['', 'N/A', 'null']
  - name: phone
    invalid_texts: ['', 'N/A', 'null']

#####################################################
##
##Declare databases, tables, and keys to use during unification
##
#####################################################

tables:
  - database: demo_db
    table: customer_profiles_staging
    key_columns:
      - {column: CUSTOMER_ID, key: customer_id}
      - {column: EMAIL_STD, key: email}
  - database: demo_db
    table: customer_staging
    key_columns:
      - {column: UUID, key: customer_id}
      - {column: EMAIL_STD, key: email}
  - database: demo_db
    table: customer_orders
    key_columns:
      - {column: USER_ID, key: customer_id}
      - {column: EMAIL_ADDRESS, key: email}
      - {column: PHONE_NUMBER, key: phone}

#####################################################
##
##Declare hierarchy for unification. Define keys to use for each level.
##
#####################################################

canonical_ids:
  - name: td_id
    merge_by_keys: [customer_id, email, phone]
    merge_iterations: 10

#####################################################
##
##Declare Similar Attributes and standardize into a single column
##
#####################################################

master_tables:
  - name: td_id_master_table
    canonical_id: td_id
    attributes:
      - name: best_email
        source_columns:
          - {table: customer_profiles_staging, column: EMAIL_STD, order: last, order_by: time, priority: 1}
          - {table: customer_staging, column: EMAIL_STD, order: last, order_by: time, priority: 2}
          - {table: customer_orders, column: EMAIL_ADDRESS, order: last, order_by: time, priority: 3}
      - name: best_first_name
        source_columns:
          - {table: customer_profiles_staging, column: FIRST_NAME, order: last, order_by: time, priority: 1}
          - {table: customer_staging, column: FIRST_NAME, order: last, order_by: time, priority: 2}
      - name: best_last_name
        source_columns:
          - {table: customer_profiles_staging, column: LAST_NAME, order: last, order_by: time, priority: 1}
          - {table: customer_staging, column: LAST_NAME, order: last, order_by: time, priority: 2}
      - name: best_phone
        source_columns:
          - {table: customer_orders, column: PHONE_NUMBER, order: last, order_by: time, priority: 1}
